@import '~antd/dist/antd.css';

.main-page {
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pools {
    display: flex;
    align-items: center;
}

.main-page .main-page__title {
    color: white;
    margin-bottom: 40px;
}

.main-page .main-page__chart {
    width: 70%;
}

.main-page .main-page__pie{
    width: 30%;
    border-radius: 20px;
    padding: 20px;
}
