@import '~antd/dist/antd.css';

.main-page {
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pools {
    display: flex;
    align-items: center;
}

.main-page .main-page__title {
    color: white;
}
